/* ********************** */
/* HEADER */
/* ********************** */
.header {
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    background-color: var(--main-color-tint-1);
}
.logo img {
    height: 2.4rem;
}
/* ********************** */
/* NAVIGATION */
/* ********************** */

.main-nav {
}

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}
.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1.8rem;
    transition: all 0.3s;
}
.nav-link:hover {
    color: var(--main-color-shade-1);
}
/* ********************** */
/* HERO SECTION */
/* ********************** */

.section-hero {
    background-color: var(--main-color-tint-1);
    
}

.hero-paragraph {
    font-size: 2rem;
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-bottom: 6.4rem;
}

.hero-img img {
    width: 100%;
}

.hero-orders {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-top: 6.4rem;
}

.orders-img {
    margin-left: 1.8rem;
}

.orders-img img {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    margin-left: -20px;
    border: 4px solid #fff;
}

.orders-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.orders-text span {
    color: var(--main-color-shade-1);
}

/* ********************** */
/* HOW IT WORKS */
/* ********************** */
.section-how-works-container {
}
.section-how-works{
    margin-top: 9.6rem;
}
.subheading {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color-shade-1);
    margin-bottom: 1.6rem;
}
.works-number {
    display: inline-block;
    color: #ccc;
    font-size: 8.6rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}
.works-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.works-img {
    width: 35%;
}
.works-text {
    font-size: 2rem;
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-bottom: 6.4rem;
}
