* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #e67e22;
    --main-color-shade-1: #cf711f;

    --main-color-tint-1: #fdf2e9;
    --main-color-tint-2: #fae5d3;

    --grey-primary: #555;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--grey-primary);
}

/* ********************** */
/* REUSABLE STYLES  */
/* ********************** */

.heading-primary {
    font-size: 4.4rem;
    letter-spacing: -0.5px;
    line-height: 1;
    margin-bottom: 3.2rem;
}

.btn {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 10px 20px;
}

.btn-primary {
    color: #eeeeee;
    background-color: var(--main-color);
    transition: all 0.4s;
}

.btn-primary:hover {
    background-color: var(--main-color-shade-1);
}

.btn-secondary {
    color: var(--grey-primary);
    box-shadow: inset 0 0 0 2.5px var(--grey-primary);
    transition: all 0.5s;
}

.btn-secondary:hover {
    background-color: var(--main-color-tint-2);
}

.margin-right-sm {
    margin-right: 2rem;
}

/* ********************** */
/* HERO SECTION */
/* ********************** */

.section-hero {
    background-color: var(--main-color-tint-1);
    padding: 3.2rem;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    align-items: center;
    max-width: 110rem;
    margin: 0 auto;
}

.hero-paragraph {
    font-size: 2rem;
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img img {
    width: 100%;
}

.hero-orders {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-top: 6.4rem;
}

.orders-img {
    margin-left: 1.8rem;
}

.orders-img img {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    margin-left: -20px;
    border: 4px solid #fff;
}

.orders-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.orders-text span {
    color: var(--main-color-shade-1);
}
