* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #e67e22;
    --main-color-shade-1: #cf711f;

    --main-color-tint-1: #fdf2e9;
    --main-color-tint-2: #fae5d3;

    --grey-primary: #555;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--grey-primary);
}

/* ********************** */
/* REUSABLE STYLES  */
/* ********************** */

.heading-primary {
    font-size: 5.2rem;
    letter-spacing: -0.5px;
    line-height: 0.95;
    margin-bottom: 4.8rem;
}

.btn {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 10px 20px;
}

.btn-primary {
    color: #eeeeee !important;
    background-color: var(--main-color);
    transition: all 0.4s;
}

.btn-primary:hover {
    background-color: var(--main-color-shade-1);
}

.btn-secondary {
    color: var(--grey-primary);
    box-shadow: inset 0 0 0 2.5px var(--grey-primary);
    transition: all 0.3s;
}

.btn-secondary:hover {
    background-color: var(--main-color-tint-2);
}

.margin-right-sm {
    margin-right: 2rem;
}

.container-primary {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 9.6rem;
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
}

/* ********************** */
/* HEADER */
/* ********************** */
.header {
    height: 9.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    background-color: var(--main-color-tint-1);
}
.logo img {
    height: 2.4rem;
}
/* ********************** */
/* NAVIGATION */
/* ********************** */

.main-nav {
}

.main-nav-list {
    list-style: none;
    display: flex;
    gap: 2.4rem;
}
.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    font-size: 1.8rem;
    transition: all 0.3s;
}
.nav-link:hover {
    color: var(--main-color-shade-1);
}
/* ********************** */
/* HERO SECTION */
/* ********************** */

.section-hero {
    background-color: var(--main-color-tint-1);
    padding: 3.2rem 2.4rem 9.6rem 3.2rem;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    align-items: center;
    max-width: 130rem;
    margin: 0 auto;
}

.hero-paragraph {
    font-size: 2rem;
    letter-spacing: 0.5px;
    line-height: 1.6;
    margin-bottom: 6.4rem;
}

.hero-img img {
    width: 100%;
}

.hero-orders {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-top: 6.4rem;
}

.orders-img {
    margin-left: 1.8rem;
}

.orders-img img {
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    margin-left: -20px;
    border: 4px solid #fff;
}

.orders-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.orders-text span {
    color: var(--main-color-shade-1);
}
