<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../includes/masterIncludes.ejs')%>
    <title>Document</title>

    <script>
      let loggedInYear = <%- loggedInYear%>
      console.log(loggedInYear)
    </script>

    <script src="/assets/js/staff-dashboard-handler.js" defer></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Subjects</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Attendance</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="attendance-list mt-5">
        <h5>Attendance Section</h5>
        <button class="btn btn-primary btn-sm add-std-btn">Add Student</button>
        <button class="btn btn-primary btn-sm std-list-btn">
          Students List
        </button>
        <button class="btn btn-primary btn-sm add-sub-btn">Add Subject</button>
      </div>
    </div>

    <!-- add student form -->
    <div class="container add-std-form">
      <form class="row" action="" id="add-student-form">
        <div class="col-md-3">
          <div class="my-3">
            <label for="" class="form-label">Student Name</label>
            <input
              type="text"
              class="form-control student-name"
              id=""
              name="student-name"
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="my-3">
            <label for="" class="form-label">Mobile Number</label>
            <input
              type="text"
              class="form-control mobile-no"
              id=""
              name="mobile"
            />
          </div>
        </div>

        <div class="col-md-3">
          <div class="my-3">
            <label for="" class="form-label">Department</label>
            <select name="department" class="form-control department" id="">
              <option value="civil">Civil</option>
              <option value="electrical">Electrical</option>
              <option value="mechanical">Mechanical</option>
              <option value="computer">Computer</option>
              <option value="it">I.T.</option>
            </select>
          </div>
        </div>

        <div class="col-md-3">
          <div class="my-3">
            <label for="" class="form-label">Year</label>
            <input name="year" id="" class="form-control year" readonly />
          </div>
        </div>

        <div class="col-md-6">
          <button type="submit" class="btn btn-outline-primary btn-sm">
            Submit
          </button>
          <button name="" type="reset" class="btn btn-link btn-sm text-danger">
            Reset
          </button>
        </div>
      </form>
    </div>

    <div class="container students-list">
      <table class="table table-borderless">
        <thead>
          <tr class="text-center">
            <th>Sr No</th>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Student Mobile</th>
            <th>Student Department</th>
            <th>Student Year</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="student-list-tbody"></tbody>
      </table>
    </div>

    <div class="container add-sub-form-container">
      <form class="row" action="" id="add-sub-form">
        <div class="col-md-4">
          <div class="my-3">
            <label for="" class="form-label">Subject Name</label>
            <input
              type="text"
              class="form-control sub-name"
              id=""
              name="sub-name"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="my-3">
            <label for="sub-year" class="form-label">Year</label>
            <input
              type="text"
              id="sub-year"
              class="form-control sub-year"
              readonly
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="my-3">
            <label for="sub-department" class="form-label">Department</label>
            <select
              name="sub-department"
              class="form-control sub-department"
              id="sub-department"
            >
              <option value="civil">Civil</option>
              <option value="electrical">Electrical</option>
              <option value="mechanical">Mechanical</option>
              <option value="computer">Computer</option>
              <option value="it">I.T.</option>
            </select>
          </div>
        </div>

        <div class="col-md-4">
          <button type="submit" class="btn btn-outline-primary btn-sm">
            Submit
          </button>
          <button name="" type="reset" class="btn btn-link btn-sm text-danger">
            Reset
          </button>
        </div>
      </form>
    </div>

    <div class="container sub-list-container">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Sr No</th>
            <th>Name</th>
            <th>Department</th>
            <th>Year</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody class="sub-list-tbody"></tbody>
      </table>
    </div>

    <!-- add attendance -->
    <div class="container">
      <h3>Add Attendance</h3>

      <div class="row">
        <div class="col-md-4">
          <label for="att-date">Date</label>
          <input type="date" id="att-date" class="form-control" />
        </div>

        <div class="col-md-4">
          <label for="att-dept">Department</label>
          <select
            name="att-dept"
            class="form-control att-dept"
            id="att-dept"
          >
            <option value="civil">Civil</option>
            <option value="electrical">Electrical</option>
            <option value="mechanical">Mechanical</option>
            <option value="computer">Computer</option>
            <option value="it">I.T.</option>
          </select>
        </div>

        <div class="col-md-4">
          <label for="att-sub">Subject</label>
          <select name="att-sub" class="form-control" id="att-sub"></select>
        </div>
      </div>
    </div>
  </body>
</html>
