/* ********************** */
/* HEADER */
/* ********************** */
.section-header {
  background-color: var(--main-color-tint-1);
  padding: 3.2rem 0;

  transition: all 2s;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 95px;
  transition: all 2s;
}

.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 130rem;
  margin: 0 auto;
}
.logo img {
  height: 2.4rem;
}
/* ********************** */
/* NAVIGATION */
/* ********************** */

.main-nav {
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.nav-link {
  text-decoration: none;
  color: #333;
  color: var(--grey-tint-1);
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.nav-link:hover {
  color: var(--main-color-shade-1);
}

/* ********************** */
/* HERO SECTION */
/* ********************** */

.section-hero {
  background-color: var(--main-color-tint-1);
}

.hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.hero-paragraph {
  font-size: 2rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}

.hero-img img {
  width: 100%;
}

.hero-orders {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-top: 6.4rem;
}

.orders-img {
  margin-left: 1.8rem;
}

.orders-img img {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  margin-left: -20px;
  border: 4px solid #fff;
}

.orders-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.orders-text span {
  color: var(--main-color-shade-1);
}

/* ********************** */
/* FEATURED IN SECTION */
/* ********************** */

.featured-in-heading {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: var(--grey-tint-1);
  margin-bottom: 2.4rem;
}
.logos-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logos-box img {
  height: 3.2rem;
  filter: brightness(0%);
  opacity: 50%;
}

/* ********************** */
/* HOW IT WORKS */
/* ********************** */

.container-how-works {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.8rem;
  row-gap: 9.6rem;
  align-items: center;
}

.works-number {
  display: inline-block;
  color: #ccc;
  font-size: 8.6rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.works-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.works-img-box::before,
.works-img-box::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.works-img-box::before {
  background-color: var(--main-color-tint-1);
  width: 38rem;
  height: 38rem;
  z-index: -2;
}
.works-img-box::after {
  background-color: var(--main-color-tint-2);
  width: 30rem;
  height: 30rem;
  z-index: -1;
}

.works-img {
  width: 35%;
}
.works-text {
  font-size: 2rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

/* ********************** */
/* MEALS */
/* ********************** */
.section-meals {
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  /* overflow: hidden; */
  position: relative;
  transition: all 0.4s ease;
}
.meal:hover {
  box-shadow: 0 4.8rem 6.4rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2rem);
}
.meal-image img {
  width: 100%;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
}
.meal-description {
  padding: 3.2rem;
}
.meal-tags {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  left: 0;
  transform: translate(-20%, 0);
}
.tag {
  background-color: var(--main-color-tint-2);
  color: var(--grey-primary);
  padding: 5px 10px;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 1.4rem;
  box-shadow: 2.4rem 2.4rem 4.8rem rgba(136, 136, 136, 0.3);
}
.meal-title {
  font-size: 3rem;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-details-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.meal-icon {
  color: var(--main-color-shade-1);
  font-size: 3rem;
}
.meal-details-item {
  font-size: 2rem;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

/* ********************** */
/* DIET-LIST */
/* ********************** */

.all-recepires-link:link,
.all-recepires-link:visited {
  display: inline-block;
  color: var(--main-color);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding: 2px;
  transition: all 0.3s;
}
.all-recepires-link:hover {
  color: var(--main-color-shade-1);
  border-bottom: 1px solid transparent;
  transform: translateY(-0.3rem);
}
.all-recepies {
  font-size: 1.8rem;
}

/* ********************** */
/* TESTIMONIL SECTION */
/* ********************** */
.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  background-color: var(--main-color-tint-1);
  padding: 0;
}
.testimonial-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.4rem;
  align-items: center;
  padding: 8rem !important;
}
.testimonil-subheading {
  margin-bottom: 4.8rem;
}
.testimonial-heading-container {
  grid-column: 1/ -1;
  grid-row: 1 / 2;
}

.testimonial-image {
  width: 25%;
  margin-bottom: 3.2rem !important;
  border-radius: 50%;
}
.testimonial-text {
  margin-bottom: 1.2rem;
}
.testimonial-text,
.testimonial-name {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
.testimonial-name {
  font-style: italic;
  font-weight: 400;
  color: #999;
}

/* ************ */
/* IMAGE GALLERY */
/* ************ */
.gallery-images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
  padding: 2.4rem;
}
.gallery-image-container {
  border-radius: 15px;

  overflow: hidden;
}
.gallery-image {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-image:hover {
  transform: scale(1.1);
}

/* ************ */
/* PRICING PLANS */
/* ************ */
.section-pricing-plans {
  padding: 9.6rem 2.4rem 9.6rem 2.4rem !important;
}
.pricing-plans-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8rem;
  margin-bottom: 4.8rem;
}
.pricing-plan {
  padding: 4.8rem;
  width: 75%;
  border-radius: 15px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.055) !important;
  transition: all 0.4s;
}
.pricing-plan:hover {
  transform: scale(1.02);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075) !important;
}
.price-plan--starter {
  justify-self: end;
}
.price-plan--complete {
  background-color: var(--main-color-tint-1);
  position: relative;
  overflow: hidden;
}
.price-plan--complete::after {
  content: 'Best value';
  position: absolute;
  top: 7.5%;
  right: -10%;
  background-color: var(--main-color);
  color: var(--grey-tint-3);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.8rem 4.8rem;
  transform: rotate(45deg);
}
.pricing-heading {
  text-align: center;
}
.pricing-heading span {
  margin-bottom: 3.2rem;
}
.price-currency {
  font-size: 2.4rem;
  font-weight: 500;
  margin-right: 0.4rem;
}
.plan-price {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
  color: var(--grey-shade-1);
}

.plan-text {
  margin-bottom: 4.8rem;
  font-size: 1.6rem;
  color: var(--grey-tint-1) !important;
}

.pricing-plan-list {
  list-style: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
li {
  display: flex;
  gap: 1.6rem;
  line-height: 1.2;
}

.plan-sign-up {
  text-align: center;
  margin-top: 2.4rem;
}
.plan-details {
  margin-bottom: 8rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--grey-tint-1);
}
/* ************ */
/* FEATURES SECTION */
/* ************ */
.section-features {
  margin-bottom: 0 !important;
}
.feature-icon {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  background-color: var(--main-color-tint-1);
  padding: 1.2rem;
  border-radius: 50%;
  color: var(--main-color);
}

.feature-title {
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-bottom: 1.2rem;
  color: var(--grey-shade-1);
}

.feature-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--grey-primary);
}
